/* Set the whole page background color */
body {
    font-family: "Roboto", serif;
    background-color: rgb(231, 225, 214);

}

/* Center-align text in the header */
header {
        text-align: center;
        border-bottom: 2px dotted darkslateblue;
        margin-bottom: 5px;
        padding-bottom: 5px;
    }

    /* Style the h1 element */
    header h1 {
        color: #1050aa;
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-size: 2.2em;
    
    }

     /* Bold font for the first paragraph */
    #first-paragraph {
        font-weight: bold;
    }
    
    /* Style for education and experience sections */
    .education,
    .experience {
        border: 2px dashed #000;
        margin: 10px 0;
    }

    /* Makes the first letter of each h2 element 3x the font size of the root element*/
    h2::first-letter {
        font-size: 3em;
        font-weight: bold;
        color: black;

    }

    /* Add Github logo after the Github link*/
    a[href*="github.com"]::after {
        content: url("../images/GitHub-Mark-32px.png");
        display: inline-block;
        margin-left: 5px; /* Add space between the link and the image */
        vertical-align: middle; /* Align the image vertically with the link */
    }

    /* Add 20px left margin to the second link in the header */
    header a:nth-of-type(2) {
        margin-left: 20px;
    }

    /* Add styles to the first bullet point (master's degree) */
    .education-list > li:first-child {
        font-style: italic;
    }

    /* Adjusting "Major" and "Minor" to normal font-style */
    .education-list > li ul li {
        font-style: normal;
    }
    
    /* Remove bullet points from skills section */
    .skills ul {
        list-style-type: none;
        padding-left: 20px; /* Remove default padding for ul */
    }
    
    /* This changes the list items except the first one in Experience section to darkGreen */
    .experience ul > li:not(:first-child) {
        color: darkGreen;
    }

    /* Add a link icon before the links ending with .edu */
    a[href$=".edu"]::before {
        content: url("../images/link.png");
        display: inline-block;
        margin-right: 5px; /* Add space between the image and the link */        vertical-align: middle; /* Align the image vertically with the link */
    }

    /* change color to crimson when hovering over links containing "github" */
    a[href*="github"]:hover {
        color: crimson;
    }

    /* Add style to the last item in the skill section */
    .skills ul li:last-child {
        font-size: 1.3cm;
        background-color: rgba(120, 120, 120, 0.2  );
    }
