/* Set the whole page background color */
body {
    font-family: "Roboto", serif;
    background-color: rgb(231, 225, 214);

/* Center-align text in the header */
header {
        text-align: center;
        border-bottom: 2px dotted darkslateblue;
        margin-bottom: 5px;
        padding-bottom: 5px;
    }

    /* Style the h1 element */
    header h1 {
        color: #1050aa;
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-size: 2.2em;
    
    }

     /* Bold font for the first paragraph */
    #first-paragraph {
        font-weight: bold;
    }
    
    /* Style for education and experience sections */
    .education,
    .experience {
        border: 2px dashed #000;
        margin: 10px 0;
    }